<template name="filesystem">
    <div class="filesystem panel">
        <table class="ui unstackable table">
            <thead>
            <tr>
                <th class="five wide">Nom</th>
                <th class="three wide">Aperçu</th>
                <th class="three wide">Taille</th>
                <th class="three wide">Dernière modif.</th>
            </tr>
            </thead>
            <tbody>
            {{#each images}}
            <tr class="item {{#if selected }}active{{/if}}">
                <td>{{ this.name }}</td>
                <td><img style="width: 50px" class="img-responsive" src="{{ this.url }}"></td>
                <td>{{ this.size }}</td>
                <td>{{ this.updatedAt }}</td>
            </tr>
            {{/each}}
            </tbody>

            <tfoot class="full-width">
            <tr>
                <th colspan="4">
                    <div class="ui right">
                        <div class="ui buttons">
                            <div class="ui positive right labeled icon button">
                                Télécharger
                                <i class="add icon"></i>
                            </div>
                            <div class="or"></div>
                            <div class="ui button">
                                <div id="dropzone" class="dropzone">
                                    <div style="text-align: center; color: gray;">Glisser un fichier ici pour téléverser.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>


    </div>
</template>