<template name="realisations">
    <div class="page realisations">
        <ul class="{{#if zoom }}zooming{{/if}}">
            {{#each $mapped realisations }}
            {{> realisation_thumb }}
            {{/each}}
        </ul>
    </div>
</template>


<template name="realisation_thumb">
    <li class="realisation-thumb {{#if selected}}selected{{/if}} {{#if span}}span-{{span}}{{/if}}"
        data-realisation="{{ _id }}">
        <img class="thumb" src="{{ img }}">
    </li>
</template>


<template name="realisation">
    <div class="page realisation">
        <div class="tools">
            <a href="{{ pathFor route='realisations' }}">
                <i class="icon reply"></i>
            </a>

            {{#if currentUser}}
                {{#if editable}}
                    <i class="icon unlock" data-stopedit=""></i>
                {{else}}
                    <i class="icon lock"   data-edit=""></i>
                {{/if}}
            {{/if}}
        </div>

        <div class="thumb">
            <div class="inner">
                <img src="{{ img_full }}" alt="{{ title }}">
            </div>
        </div>

        <div class="wrapper">
            <div class="inner">
                <div class="resume" data-is="resume" contenteditable="{{#if editable}}true{{else}}false{{/if}}">
                    {{ resume }}
                </div>

                <div class="description" data-is="description" contenteditable="{{#if editable}}true{{else}}false{{/if}}">
                    {{ description }}
                </div>
            </div>
        </div>
    </div>
</template>