<template name="markdown_editor">
    <div class="editor">
        <div class="shortcuts ui icon menu">
            <a class="item"><i class="italic icon" data-do="italic"></i></a>
            <a class="item"><i class="bold icon" data-do="bold"></i></a>
            <a class="item"><i class="strikethrough icon" data-do="strikethrough"></i></a>

            <a class="item"><i class="linkify icon" data-do="link"></i></a>
            <a class="item"><i class="file image outline icon" data-do="image" data-modal="#image-modal"></i></a>
            <a class="item"><i class="quote right icon" data-do="quote"></i></a>

            <a class="item"><i class="ordered list icon" data-do="orderedlist"></i></a>
            <a class="item"><i class="unordered list icon" data-do="unorderedlist"></i></a>
        </div>

        <textarea id="t">{{ data }}</textarea>

        <div id="image-modal" class="ui modal">
            <i class="close icon"></i>

            <div class="header">
                Gestionnaire d'images
            </div>

            <div class="content">
                {{> filesystem }}
            </div>

            <div class="actions">
                <div class="ui negative button">
                    Annuler
                </div>
                <div class="ui positive right labeled disabled icon button">
                    Sélectionner
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
</template>